@import '@styles/globals.scss';

.join {
    width: calc(100% - 32px);
    height: calc(100% - 100px);
    max-width: 768px;
    margin: auto;
    padding: 0 16px 100px 16px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.joinWrapper {
    margin-bottom: 36px;
}

.termsWrapper {
    margin: 30px 16px 156px 16px;
    position: relative;
    h1 {
        text-align: center;
        color: $text;
        font-size: 24px;
        line-height: 29px;
        font-weight: bold;
    }
    h3 {
        text-align: center;
        margin-top: 4px;
        font-size: 12px;
        line-height: 15px;
    }
    .terms {
        margin-top: 36px;
    }

    .termsContents {
        position: relative;
        max-height: 100px;
        height: 0;
        opacity: 0;
        background-color: $chat-background;
        margin-top: 8px;
        border-radius: 5px;
        display: none;
        overflow-y: auto;
        p {
          width: 340px;
          height: 100%;
          margin: auto;
          padding: 20px;
        }
        &.active {
          height: 100%;
          opacity: 1;
          display: block;
        }
    }
}