@import "@styles/globals.scss";

// Alert
.alert {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .dim {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .alertWrapper {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: $background-color;
    padding: 16px;
    .alertContent {
      margin-bottom: 24px;
    }
  }
}

.modal {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .dim {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modalWrapper {
    z-index: 6;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: $background-color;
    padding: 16px;
  }
  .buttonFooterTerms {
    width: calc(100% - 32px);
    height: 72px;
    position: fixed;
    bottom: 0;
    left: 16px;
    background-color: $background-color;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    .buttonTerms {
      display: block;
      width: calc(50% - 4px);
      height: 40px;
      border-radius: 5px;
      background-color: $main-color;
      color: $background-color;
      font-size: 14px;
      font-weight: bold;
      box-shadow: 5px 5px 5px rgba(171, 189, 255, 0.5);
      &:first-child {
        background-color: $background-color;
        border: 1px solid $main-color;
        color: $main-color;
      }
    }
  }
}

// Toast
.toast {
  position: fixed;
  z-index: 10;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 5px rgba(171, 189, 255, 0.5);
  background-color: $main-color;
  border-radius: 5px;
  padding: 5px 20px;
  .toastContent {
    font-size: 14px;
    color: $background-color;
  }
}

// Popup
.popup {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .dim {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .popupWrapper {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: $background-color;
    padding: 16px;
    textarea {
      font-family: "DungGeunMo", "VT323-Regular";
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      outline: none;
      resize: none;

      font-size: 14px;
      word-break: keep-all;
      padding: 10px;

      border-radius: 5px;
      border: 1px solid $main-color;

      margin-bottom: 16px;
      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background: $main-color;
      }
    }
    .messageView {
      width: 291px;
      height: 182px;
      box-sizing: border-box;

      font-size: 14px;
      word-break: keep-all;
      padding: 10px;

      border-radius: 5px;
      border: 1px solid $main-color;

      margin-bottom: 16px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background: $main-color;
      }
    }
    .error {
      margin-bottom: 16px;
    }
  }
}

.alertButton {
  display: flex;
  button {
    margin-left: 10px;
    &:first-child {
      margin: 0;
    }
  }
}

.boderWrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid $main-color;
  box-sizing: border-box;
}

.searchResultWrapper {
  width: 100%;
  p {
    font-size: 12px;
    &.noSearchResults {
      text-align: center;
      font-size: 14px;
      margin: 30px 0;
    }
  }

  .searchResultList {
    width: 100%;
    max-height: calc(100vh - 500px);
    min-height: 250px;
    height: calc(100vh / 2 - 300px);
    overflow-y: auto;
    padding-right: 10px;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: $main-color;
    }

    .searchResult {
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 40px;
      align-content: center;
      margin-bottom: 10px;
      &:last-child {
        margin: 0;
      }

      .goToSearchResult {
        width: calc(100% - 90px);
        height: 40px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        strong {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 20px;
          height: 20px;
          border-radius: 5px;
          background-color: $blue-color;
          font-size: 20px;
          color: $background-color;
        }

        > img {
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 5px;
          margin: 0 5px;
        }

        > i {
          display: block;
          width: 30px;
          height: 30px;
          margin: 0 5px;
          border-radius: 5px;
          color: #fff;
          font-size: 20px;
          line-height: 30px;
          background-color: $sub-color;
        }

        > em {
          position: absolute;
          left: 40px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 20px;
          color: $text;
        }

        > div {
          height: 40px;
          position: absolute;
          top: 0;
          left: 40px;
          > p {
            text-align: left;
            margin: 0;
            font-size: 18px;
            color: $text;
            &:last-child {
              font-size: 14px;
              bottom: 0;
            }
          }
        }
      }
    }

    .searchPost {
      width: 330px;
      margin-bottom: 10px;
      border-bottom: 1px solid #999999;
      &:last-child {
        margin: 0;
        border: none;
      }
      .goToSearchPost {
        width: 330px;
        height: auto;
        .postTitle {
          font-size: 20px;
          text-align: left;
          margin: 8px 0;
        }
        .postContent {
          width: 100%;
          height: auto;
          word-break: break-all;
          font-weight: normal;
          line-height: 1.5;
          display: -webkit-box;
          white-space: pre-wrap;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
          > strong {
            margin: 0 5px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.setting {
  position: relative;
  padding-bottom: 51px;
  h1 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .settingMenu {
    position: relative;
    border-top: 1px solid $border-color;
    padding: 20px 0;
    p {
      font-size: 14px;
      margin: 0;
    }
    .buttonDelete {
      width: 120px;
    }
  }
  .settingButton {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    padding-top: 10px;
    border-top: 1px solid $border-color;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    background-color: $background-color;
    button {
      width: 80px;
      height: 40px;
      padding: 0 16px;
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}

.searchWrapper {
  width: 100%;
  margin-top: 40px;
}

.postFolderWrapper {
  width: 300px;
  height: 100%;
  padding: 10px;

  border-radius: 5px;
  border: 1px solid $main-color;
  margin-bottom: 16px;
  button {
    height: 30px;
    width: 100%;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s ease;
    &:hover {
      background-color: rgba(171, 189, 255, 0.5);
    }
    &.active {
      color: $background-color;
      background-color: $main-color;
    }
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  em {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    line-height: 20px;
  }
}

.profile {
  max-height: calc(100vh - 200px);
  height: auto;
  min-width: 400px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid $main-color;
  box-sizing: border-box;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: $main-color;
  }
  h1 {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  .profileItem {
    position: relative;
    border-top: 1px solid $border-color;
    padding: 20px 0;
    p {
      font-size: 14px;
      margin: 5px 0 0 0;
    }
    .profileStatus {
      width: 100%;
      display: flex;
      gap: 10px;
    }
  }
  .profileWrapper {
    position: relative;
    padding: 20px 0;
  }
}

.profileButtonWrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  > button {
    width: 80px;
    height: 40px;
  }
}

.emojiPickerWrapper {
  position: absolute;
  z-index: 6;
  transform: translate(-5%, -108%);
}
